# ==========================================
# DEPENDENCIAS Y COMPILADOS
# ==========================================
node_modules/
dist/
out/

# ==========================================
# REPORTES Y ARTEFACTOS DE PLAYWRIGHT
# ==========================================
docs/
reports/
playwright-report/
test-results/
blob-report/

# ==========================================
# ENTORNOS Y SECRETOS
# ==========================================
.env
.env.*
config/env/
!config/env/.env.example

# ==========================================
# LOGS DE NODE Y DEBUG
# ==========================================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
playwright.log

# ==========================================
# SISTEMA OPERATIVO Y CACHÉ
# ==========================================
.DS_Store
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.sqlite

# ==========================================
# EDITORES DE CÓDIGO (IDES)
# ==========================================
.idea/
.vscode/
*.swp