# PLANTILLA DE VARIABLES DE ENTORNO
# ==========================================

# URL del ambiente objetivo (ej. https://qa.saucedemo.com)
BASE_URL=

# Credenciales de acceso a la UI
SAUCE_USERNAME=
SAUCE_PASSWORD=
